/*
**** DEVELOPER NOTES ***    
The styles indicated below are an example and
should mainly be used for reference.

Confirm that your website uses a similar HTML
structure before applying these styles.

*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Rubik:700&display=swap');

@font-face {
    font-family: 'cooper_hewittmedium';
    src: url('fonts/cooperhewitt-medium-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    line-height: 1.42857143;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: 0;
    padding: 0;
}


/* Body */
h1 {
  font-family: "Rubik", "Helvetica Neue", Arial, sans-serif;
  font-size: 4.0rem; 
  font-weight: 700;
  margin-bottom: 49px;
}
h2 {
  font-size: 2.3rem; 
  font-weight: 700;
  margin: 60px 0 30px;
}
h3 {
  font-size: 1.8rem;
  margin: 50px 0 25px;
  font-weight: 700;
}
h4 {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 30px 0 15px
}
p {
 margin: 0 0 25px;
}

.main-container {
  margin-top: 25px;
  margin-bottom: 50px;
}
.main-container p, ul {
 margin: 0 0 25px;
}
.site-identity {
  font-family: "cooper_hewittmedium", "Open Sans", "Nelvetica Neue", arial, sans-serif;
  line-height: 1;
}
.site-identity a {
  color: #fff;
}
.site-identity a:hover {
  color: #fff;
  text-decoration: none;
}

/* Header/Pitt Bar */

.header {
    margin: 0;
    padding: 30px 0  0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    width: 100%;
    background: url(../assets/img/bg_header.png) no-repeat center center #003594;
    background-size: auto;
    background-size: cover;
    display: inline-block;
}

.header .pitt-logo {
    float: left;
    display: block;
    padding: 10px 0;
    margin: 0 0 0 -15px;
}
.header .pitt-shield img {
  width: 148px;
  height: auto;
}
.header .site-identity {
  font-size: 2.5rem;
  margin-top: 15px;
}
/* Secondary Links */

.secondary-links {
    float: right;
    padding: 12px 15px 18px;
    background: transparent;
    display: block;
    margin-right: 30px;
    margin-top: 14px;
}

.secondary-links ul.menu {
    font-size: 10px;
    font-size: 1.0rem;
    line-height: 0;
    margin: 0 -15px;
}

.secondary-links ul.menu li {
    float: left;
    list-style-type: none;
}

.secondary-links ul.menu li:first-child {
    border-right: 1px solid #d6d6e0;
}

.secondary-links ul.menu li a {
    padding: 0 10px;
    line-height: 120%;
    text-transform: uppercase;
    color: #ffb81c;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 10px;
    font-weight: 400;
}

.secondary-links ul.menu li a:hover {
    text-decoration: underline;
}


/* Footer */
.footer {
	background: #2b2b2b;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	padding: 35px 0;
}
.footer h3 {
  font-size: 1.5rem;
  margin: 0 0 10px;
  
}
.footer a {
	color: #ffb81c;
	text-decoration: none;
	font-size: 1.25rem;
}

.footer p {
	font-size: 1.25rem;
}

.footer .pitt-shield img {
    width: 120px;
    height: auto;
}

.footer .site-identity {
  margin: 12px 0 0 37px;
}
.footer .site-identity a {
  color: #fff;
  font-size: 2.0rem;
}
.footer .site-identity a:hover {
  color: #fff;
  text-decoration: none;
}
.footer-site_name {
	color: #fff;
	text-decoration: none;
	margin: 25px 0 0 50px;
	font-weight: 400;
}

.footer .sections {
	margin-bottom: 35px;
	margin-top: 15px;
	padding-left: 37px;
}

.footer .sections section {
	padding-right: 20px;
	margin-bottom: 35px;
	display: inline-block;
}


.footer h4 {
    font-size: 1.5rem;
    letter-spacing: 0.025em;
    margin-top: 0;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 10px;
}

.footer ul {
	padding: 0;
}

.footer ul.two-column {
	width: 50%;
	display: inline;
}

.footer ul.two-column li {
	float: left;
    width: 48%;
    margin-right: 2%;
}

.footer ul li {
	list-style: none;
}

#copyright {
	display: block;
	clear: both;
}

#copyright, #copyright a {
	font-size: 1rem;
	margin-left: 50px;
}

#copyright span {
	margin-right: 15px;
}

@media screen and (min-width: 768px) {
    .main-container {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  .pitt-shield {
    float: left;
  }
  .site-identity {
    float: left;
  }
  .header .site-identity {
    margin: 5px 0 0 20px;
    padding: 10px 0 0 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
  }
  .footer .site-identity {
    margin: 5px 0 0 16px;
    padding: 10px 0 0 16px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
  }
	.footer .sections {
		columns: 2;
		display: flex;
	}
	.footer .sections section {
		width: 30%;
	}
}

@media screen and (min-width: 992px) {
  .main-container {
    margin-top: 75px;
    margin-bottom: 75px;
  }
}
@media screen and (min-width: 1200px) {
  .header .site-identity {
  }
  .footer .site-identity {
  }  
}

/* Custom Styles */

:root {
  /* Primary Colors */
  --pitt-blue: #003594;
  --pitt-gold: #ffb81c;
  --pitt-grey: #2b2b2b;
  --pitt-button-blue: #3366ff;
  /* Secondary Colors */
  --pitt-orange: #FC0;
  --pitt-navy: #1C2957;
  --pitt-light-grey: #e8e9ee;

}



iframe {
  display: block;
  border-style:none;
  margin: 0 auto;
}

div.gallery {
border: 1px solid #ccc;
}

div.gallery:hover {
border: 1px solid #777;
}

div.gallery img {
width: 100%;
height: auto;
}

div.desc {
padding: 15px;
text-align: center;
}

* {
box-sizing: border-box;
}

.responsive {
padding: 0 6px;
float: left;
width: 24.99999%;
}

@media only screen and (max-width: 700px) {
.responsive {
  width: 49.99999%;
  margin: 6px 0;
}
}

@media only screen and (max-width: 500px) {
.responsive {
  width: 100%;
}
}

.clearfix:after {
content: "";
display: table;
clear: both;
}



.nav-item{
  font-family: "cooper_hewittmedium", "Open Sans", "Nelvetica Neue", arial, sans-serif;
  color: #fff;
  padding: .74em 0 0 0 ;
  width: 5em;
  height: 1em;
}
.nav-link:hover{
  color: #fff;
  background-color: rgba(255, 255, 255, 0.678);
}

