---
layout: default
---
<h1>People</h1>

{% assign ordered_pages = site.people | sort:"order" %}
{% for post in ordered_pages %}
{% cycle 'add row' : '<div class="row">', '', '' %}
    <div class="column column-33">
        <div class="profile mb-3">
            <img class="rounded mb-0 " src="{{ post.photo }}" width="200px" height="200 px"
                style="overflow: hidden; object-fit: cover; {{ post.adjustment }}">
            <h3 class="mt-0 mb-0">{{ post.name }}</h3>
            <p class="mb-0">{{ post.title }}</p>
            <p class="mb-0"><a href="mailto:{{ post.email }}">{{ post.email }}</a>
            </p>
            {% if post.profile %}
            <p class="mb-0"><a href="http://{{ post.profile }}">Profile</a></p>
            {% endif %}
            {% if post.website %}
            <p><a href="http://{{ post.website }}">Personal Webiste</a></p>
            {% endif %}
        </div>
    </div>
    {% cycle 'end row' : '', '', '
</div>' %}
{% endfor %}
{% cycle 'end row' : '', '</div>', '</div>' %}