<header class="site-header mb-0">
  <div class="header pt-4" role="banner">
    <style>
     
    </style>
    
      <a class="site-title" style="font-size: 2em" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <h6 class="site-subtitle mb-0">{{ site.subtitle }}</h6>
      <nav class="navbar">
        <ul class="mb-0">
          <li class="nav-item"><a href="{{ site.baseurl }}/">Home</a></li>
          <li class="nav-item"><a href="{{ site.baseurl }}/about/">About</a></li>
          <li class="nav-item"><a href="{{ site.baseurl }}/people/">People</a></li>
          <li class="nav-item"><a href="{{ site.baseurl }}/models/">Models</a></li>
          <li class="nav-item"><a href="{{ site.baseurl }}/contact/">Contact</a></li>
        </ul>
      </nav>
    </div>
</header>
