<header class="site-header">
  <div class="header pt-4" role="banner">
      <a class="site-title h1" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <h6 class="mb-0">{{ site.subtitle }}</h6>
      <nav class="navbar">
        <ul class="mb-0">
          <li class="nav-item mb-0 pt-0 "><a href="{{ site.baseurl }}/">home</a></li>
          <li class="nav-item mb-0 pt-0"><a href="{{ site.baseurl }}/about/">about</a></li>
          <li class="nav-item mb-0 pt-0"><a href="{{ site.baseurl }}/models/">models</a></li>
        </ul>
      </nav>
    </div>
</header>
