<nav class="w-100 pt-4 text-center bg-pitt pb-2 mb-4" role="banner">
	<div class="container-fluid">
		<div class="ff-cinzel">
			<a class="fs-double mb-0" href="{{ site.baseurl }}/">{{ site.title }}</a>
			<p class="fs-4 mt-0 text-white">{{ site.subtitle }}</p>
		</div>
		<div>
			<a class="ff-chm mx-3" href="{{ site.baseurl }}/">Home</a>
			<a class="ff-chm mx-3" href="{{ site.baseurl }}/about/">About</a>
			<a class="ff-chm mx-3" href="{{ site.baseurl }}/people/">People</a>
			<a class="ff-chm mx-3" href="{{ site.baseurl }}/models/">Models</a>
			<a class="ff-chm mx-3" href="{{ site.baseurl }}/contact/">Contact</a>
		</div>
	</div>
</nav>

<!-- 
<nav class="">
	<p class="h1"><a href="{{ site.baseurl }}/">{{ site.title }}</a></p>
	<p class="h2">{{ site.subtitle }}</p>
	<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		<li class="nav-item active">
			<a class="nav-link" href="{{ site.baseurl }}/">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ site.baseurl }}/about/">About</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ site.baseurl }}/people/">People</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ site.baseurl }}/models/">Models</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ site.baseurl }}/contact/">Contact</a>
		</li>
	</ul>
</nav> -->