<div class="container-fluid h-100"></div>

{% assign ordered_pages = site.people | sort:"order" %}
{% for post in ordered_pages %}
    {% cycle 'add row' : '<div class="row">', '', '' %}
        <div class="d-flex h-100 mb-3">
            <div class="d-flex w-100">
                <div class="col-4">
                    <img class="profile" src="{{ post.photo }}" width="200px" height="140 px" style="overflow: hidden; object-fit: cover; {{post.adjustment}}">
                </div>
                <div class="col-8">
                    <h3 class="mt-3 mb-0">{{ post.name }}</h3>
                    <p>{{ post.title }}</p>
                    <p class="mb-0"><a href="mailto:{{ post.email }}" style="text-decoration: underline;">{{ post.email }}</a></p>
                    {% if post.profile %}
                        <p style="text-decoration: underline;" class="mb-0"><a href="http://{{ post.profile }}">Profile</a></p>
                    {% endif %}
                    {% if post.website %}
                        <p style="text-decoration: underline;"><a href="http://{{ post.website }}">Personal Webiste</a></p>
                    {% endif %}
                </div>
            </div>
        </div>          
{% cycle 'end row' : '', '', '</div>' %}
{% endfor %}
{% cycle 'end row' : '', '</div>', '</div>' %}

</div>
