body {
    min-height: 100vh;
}

footer {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #2b2b2b;
    color: #fff;
    padding: 35px 0;
    position: sticky;
    top: 0;
    font-size: 1.25rem;
}