---
layout: default
permalink: /people/
---
<h1>People</h1>

{% assign ordered_pages = site.people | sort:"order" %}
{% for post in ordered_pages %}
{% cycle 'add row' : '<div class="row mb-3">', '', '' %}
    <div class="col-4 d-flex">
        <div class="card w-100 shadow">
            <img src="{{ post.photo }}" style="height: 18rem; object-fit: cover; {{ post.adjustment }}"
                class="card-img-top w-100" alt="{{ post.name }}">
            <div class="card-body">
                <h3 class="my-0">{{ post.name }}</h3>
                <p class="my-0">{{ post.title }}</p>
                <p class="my-0"><a href="mailto:{{ post.email }}">{{ post.email }}</a></p>
                <p class="my-0">
                    {% if post.profile %}
                    <a class="btn btn-primary" href="http://{{ post.profile }}">Profile</a>
                    {% endif %}
                    {% if post.website %}
                    <a class="btn btn-primary" href="http://{{ post.website }}">Personal Website</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    {% cycle 'end row' : '', '', '
</div>' %}
{% endfor %}
{% cycle 'end row' : '', '</div>', '</div>' %}